body {
  margin: 0;
  font-family: "Segoe UI", Tahoma, sans-serif;
  font-size: 16px;
  background: #f3f4f6; /* 👈 gris claro general */
}

a {
  color: var(--color-primary);
  text-decoration: none;
}

h1 {
  font-size: 1.8rem;
  margin-bottom: 0.5rem;
}

p {
  color: #6b7280;
}