:root {
  --color-primary: #15803d;   /* verde más profundo (botones principales) */
  --color-secondary: #22c55e; /* verde brillante */

  --color-danger: #ef4444;
  --color-warning: #f59e0b;

  --bg-main: #f3f4f6;  /* gris suave */
  --bg-card: #ffffff;

  --text-main: #111827;
  --text-light: #6b7280;

  --radius: 14px; /* más moderno */
}