.container {
  height: 100vh; /* 👈 clave */
  width: 100%;

  display: flex;
  justify-content: center;
  align-items: center;

  background: linear-gradient(180deg, #065f46, #16a34a);
}

/* tarjeta verde */
.cardWrapper {
  width: 100%;
  max-width: 380px;

  display: flex;
  flex-direction: column;
  align-items: center;

}


.image {
  width: 160px;
  height: 160px;
  object-fit: cover;

  border-radius: 50%; /* 👈 círculo */
  margin-bottom: 15px;
}

.title {
  color: white;
  font-size: 20px;
  margin-bottom: 20px;
  text-align: center;
}

.title span {
  color: #facc15;
}

/* form */
.form {
  width: 100%;
  display: flex;
  flex-direction: column;
  gap: 15px;
}
/* input estilo mockup */
.inputBox {
  display: flex;
  align-items: center;
  background: #e5e7eb;
  border-radius: 12px;
  padding: 14px;
}

.inputBox input {
  border: none;
  background: transparent;
  outline: none;
  font-size: 16px;
  width: 100%;
}

/* icono */
.icon {
  margin-right: 10px;
  font-size: 18px;
}

/* botón */
.button {
  background: #15803d;
  color: white;
  padding: 14px;
  border-radius: 12px;
  border: none;
  font-size: 16px;
  cursor: pointer;
}

/* texto abajo */
.forgot {
  text-align: center;
  color: white;
  font-size: 13px;
  margin-top: 10px;
}

.copy {
  text-align: center;
  font-size: 12px;
  color: white;
  margin-top: 10px;
}