.app {
  max-width: 480px;
  margin: auto;
  height: 100vh;

  display: flex;
  flex-direction: column;

  background: #f3f4f6;
}

/* header fijo */
.header {
  background: white;
  border-bottom: 1px solid #eee;
  padding: 10px 10px;
}

/* contenido */
.main {
  flex: 1;
  padding: 10px;
  background: #f3f4f6;

  display: flex;
  flex-direction: column;
}

/* bottom nav fijo */
.bottomNav {
  background: white;
  border-top: 1px solid #eee;
  padding: 10px;

  display: flex;
  justify-content: space-around;
}