.container {
  display: flex;
  flex-direction: column;
  margin-bottom: 15px;
}

.container label {
  margin-bottom: 5px;
  font-size: 14px;
  color: var(--text-light);
}

.input {
  padding: 12px;
  border-radius: var(--radius);
  border: 1px solid #ddd;
  font-size: 14px;

  background: #f3f4f6; /* 👈 aquí lo agregas */
}

.input:focus {
  outline: none;
  border-color: var(--color-primary);
}

.inputBox {
  display: flex;
  align-items: center;

  background: #e5e7eb;
  border-radius: 14px;
  padding: 14px 16px;

  font-size: 16px;
}

.inputBox input {
  border: none;
  background: transparent;
  outline: none;

  font-size: 16px;
  flex: 1;
}

.icon {
  margin-right: 10px;
  font-size: 18px;
  opacity: 0.6;
}

.inputBox input::placeholder {
  color: #6b7280;
  font-size: 15px;
}