.textarea {
  padding: 12px;
  border-radius: var(--radius);
  border: 1px solid #ddd;
  font-size: 14px;
  min-height: 100px;
}

.textarea:focus {
  outline: none;
  border-color: var(--color-primary);
}